.bug-create-edit {
    width: 60vw;
    background-color: var(--prim-color);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
}

.bug-create-edit h1 {
    min-width: 100%;
    font-size: 2.5rem;
    color: white;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px groove white;
}

.bug-create-edit form {
    min-width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    row-gap: 34px;
    margin-top: 10px;
}
.bug-create-edit form input, select {
    height: 40px;
}

.bug-create-edit label {
    text-align: right;
    font-size: 1.5rem;
    color: white;
}

.bug-create-edit button {
    grid-column: 2;
}

.bug-create-edit input[type=text] {
    padding-left: 10px;
}

.bug-create-edit select {
    padding-left: 5px;
}

.bug-create-edit input,textarea,select {
    border-radius: 5px;
    border: none;
}

.bug-create-edit .close-button {
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
}