#root {
    grid-template-columns: 20% 80%;
    display: grid;
    color: white;
    margin: -8px;
    --prim-color: #264e70;
    --card-color: #cae1ff;
}
button {
    background: #ef6c57;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    font: normal bold 16px "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
button:hover {
    transition: all 0.3s;
    background: #923021;
}
.not-logged-in {
    color: black;
}
.page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
}