.loginbg {
    width: 100vw;
    height: 105vh;
    background: url(../../images/3785935.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.68);
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: absolute;
    grid-column: 1/2;
}
.login-panel {
    background-color: var(--prim-color);
    width: 30vw;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.login-panel h1 {
    width: 100%;
}
.login-panel input {
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 2px 10px 0 10px;
}